---
import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";
import Pagination from "@/components/Paginator.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_POSTS_PER_PAGE = 10;
	const allPosts = await getAllPosts();
	const allPostsByDate = allPosts.sort(collectionDateSort);
	return paginate(allPostsByDate, {
		pageSize: MAX_POSTS_PER_PAGE,
	});
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;

const meta = {
	description: "Read my collection of posts and the things that interest me",
	title: "Posts",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "Previous Page",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "Next Page",
			url: page.url.next,
		},
	}),
};

const formatPostDate = (date: Date) =>
	`${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, "0")}-${String(date.getDate()).padStart(2, "0")}`;
---

<PageLayout meta={meta}>
	<div class="mb-12 flex items-center gap-3">
		<h1 class="title">Posts</h1>
		<a class="text-global-text" href="/rss.xml" target="_blank">
			<span class="sr-only">RSS feed</span>
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:rss" />
		</a>
	</div>
	<section class="text-base">
		<ul class="space-y-8" role="list">
			{
				page.data.map((p) => (
					<li>
						<time
							class="block text-xs leading-5 font-semibold text-global-text"
							datetime={p.data.publishDate.toISOString()}
							title={p.data.publishDate.toISOString()}
						>
							{formatPostDate(p.data.publishDate)}
						</time>
						<a class="mt-1 block text-base leading-6 text-global-text hover:text-link" href={`/posts/${p.id}/`}>
							{p.data.title}
						</a>
					</li>
				))
			}
		</ul>
		<Pagination {...paginationProps} />
	</section>
</PageLayout>
